<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<!-- 如果安装了Google chrome frame则强制用GCF来渲染，否则IE用最高版本的IE内核来渲染 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


	<link rel="shortcut icon" href="__STATIC__/image/logo.ico" type="image/x-icon">
	<title>学生学分系统 | 广东医科大学-学生学分系统-欢迎登录</title>
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="__CSS__/ie8-and-down.css" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_oydfsvvqbo61dcxr.css">

	
	<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script><!-- border-radius for IE8 -->
	<script type="text/javascript" src="__JS__/jquery.corner.js"></script><!-- border-radius for IE8 -->
</head>
<body>
	<!--[if lt IE 9]>
		<div class="alert-danger" role="alert">
			你的浏览器实在<strong>太太太太太太旧了</strong>，导致页面无法完美显示渲染。放学别走，升级完浏览器再说 → <a target="_blank" class="alert-danger-anchor" href="http://browsehappy.com">立即升级</a>
		</div>
	<![endif]-->
	<main>
		<div class="container">
			<div class="logo">
				<img src="__STATIC__/image/logo.jpg">
			</div>
			<div class="mainContent">
				<div class="mainContent-L">
					<img src="__STATIC__/image/schoolView.jpg">
				</div>
				<div class="mainContent-R">
					<h2>学生学分系统</h2>
					<form>
						<div class="roleOption">
							<label for="roleoption_Stu"><input type="radio" name="roleoption" id="roleOption_stu" checked="checked"><span>学生</span></label>
							<label for="roleoption_Admin"><input type="radio" name="roleoption" id="roleOption_teacher" ><span>管理员</span></label>
						</div>
						<div class="infoInput">
							<div class="info">
								<i class="xszhcpFont xszhcp-yonghu"></i><input type="text" id="user" placeholder="请输入账号" >
							</div>
							<div class="wraper">
								<div class="child hrLine"></div>
							</div>
							<div class="info">
								<i class="xszhcpFont xszhcp-mima"></i><input type="password" id="pwd" placeholder="请输入密码">
							</div>
						</div>
						<button  type="button" class="button" id="loginBtn" onClick="return checkForm()">登录</button>
					</form>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="ieFix">
			<span>CopyRight © 2015-2016 By GT-FLY</span>
		</div>
	</footer>
	<script type="text/javascript">
	function checkForm(){
		var user=document.getElementById('user').value;
		var pwd=document.getElementById('pwd').value;
		if(user===''||pwd===''){
			alert('用户名或密码不能为空！');
			var value=(user==='')?pwd:user;
			var name=(user==='')?'pwd':'user';
			document.getElementById(name).value=value;
			return false;
		}
		else if(user===''&&pwd===''){
			alert('用户名和密码不能为空！');
			return false;
		}
		else{
			var is_stu=document.getElementById('roleOption_stu').checked;
			if(is_stu){
				var pattern=/[0-9]{11}/;
				var result=pattern.test(user);
				if(!result||user.length!=11){
					alert('用户名格式不正确！');
					document.getElementById('user').value=user;
					return false;
				}
				else{
					var xhr=new XMLHttpRequest();
					console.log(xhr);
					xhr.onreadystatechange=function()
					{
						if (xhr.readyState==4 && xhr.status==200)
						{
								if(xhr.responseText=='yes'){
								alert('get');}
						}
					}
					xhr.open("POST","index/index/login",true);
					xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
					xhr.send("username="+user+"&password="+pwd);
					return true;
				}
			}
			return false;
			
		}
	}
	</script>
</body>
</html>







